/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Merienda:wght@400;700&family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300;400;500;600;700&display=swap');

* {
   padding: 0;
   margin: 0;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
}

.wrapper {
   width: 100% !important;
   overflow: hidden !important;
}

img {
   -webkit-user-select: none !important;
      -moz-user-select: none !important;
       -ms-user-select: none !important;
           user-select: none !important;
}

/* main *//* main *//* main *//* main *//* main *//* main *//* main *//* main */

/* header *//* header *//* header *//* header *//* header *//* header *//* header */
.header {
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
}

.header-item-wrap {
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

/* main */

/* toggle */
.toggle {
   width: 50vw;
   cursor: pointer;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-transition: 0.2s linear;
   -o-transition: 0.2s linear;
   transition: 0.2s linear;
   overflow: hidden;
   position: relative;
}

.toggle::before {
   content: "";
   position: absolute;
   top: var(--y);
   left: var(--x);
   width: 0;
   height: 0;
   border-radius: 50%;
   -webkit-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);
   -webkit-transition: height 0.35s linear, width 0.35s linear;
   -o-transition: height 0.35s linear, width 0.35s linear;
   transition: height 0.35s linear, width 0.35s linear;
}

.toggle:hover::before {
   width: 100vw;
   height: 100vw;
}

.toggle:hover {
   opacity: 0.9;
}

.icon {
   z-index: 40;
}

/* toggle */

/* self */
.name {
   margin: 0 auto;
   font-family: 'Kodchasan', sans-serif;
   font-weight: 600;
   letter-spacing: 0.3vw;
   text-align: center;
   position: relative;
}

.name::before {
   content: attr(data-text);
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   overflow: hidden;
}

.avt {
   overflow: hidden !important;
   border-radius: 50%;
   cursor: pointer;
}

.avt-img {
   width: 100%;
   height: 100%;
}

.description {
   margin: 0 auto;
   font-family: 'Merienda', cursive;
   font-weight: 400;
   text-align: center;
   position: relative;
   max-width: 95%;
}

.description span {
   position: relative;
   display: inline-block;
   -webkit-animation: MoveTop 4s ease-in-out infinite;
           animation: MoveTop 4s ease-in-out infinite;
   -webkit-animation-delay: calc(0.1s * var(--i));
           animation-delay: calc(0.1s * var(--i));
   -webkit-animation-play-state: paused;
           animation-play-state: paused;
   -webkit-user-select: none !important;
      -moz-user-select: none !important;
       -ms-user-select: none !important;
           user-select: none !important;
}

.description:hover span {
   -webkit-animation-play-state: running;
           animation-play-state: running;
}

/* self */

/* face */
.face {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   position: relative;
   z-index: 100;
   display: none;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}

.avt.active .face {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.face::before {
   content: "";
   position: absolute;
   top: 60%;
   width: 50%;
   height: 25%;
   border-bottom-left-radius: 1000vw;
   border-bottom-right-radius: 1000vw;
   left: 25%;
   -webkit-transition: 0.2s linear;
   -o-transition: 0.2s linear;
   transition: 0.2s linear;
}

.face:hover:before {
   top: 70%;
   width: 50%;
   height: 6%;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}

.eyes {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   position: relative;
   width: -webkit-max-content;
   width: -moz-max-content;
   width: max-content;
   top: -12%;
}

.eye {
   position: relative;
   display: block;
   background-color: white;
   border-radius: 50%;
}

.eye::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 31.25%;
   -webkit-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);
   width: 50%;
   height: 50%;
   background-color: #333;
   border-radius: 50%;
}

/* header *//* header *//* header *//* header *//* header *//* header *//* header */

/* body *//* body *//* body *//* body *//* body *//* body *//* body *//* body */
.body {
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
}

.link-wrap {
   width: 80vw;
   margin: 0 auto;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-transition: 0.2s linear;
   -o-transition: 0.2s linear;
   transition: 0.2s linear;
   position: relative;
   overflow: hidden;
}

.icon-link {
   z-index: 100;
}

.icon-wrap.no-link {
   z-index: 20;
}

.icon-wrap.no-link,
.icon-link {
   text-decoration: none;
   -webkit-transition: 0.2s linear;
   -o-transition: 0.2s linear;
   transition: 0.2s linear;
}

.icon-wrap {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-transition: 0.2s linear;
   -o-transition: 0.2s linear;
   transition: 0.2s linear;
}

.icon-link:first-child,
.icon-wrap.no-link:first-child {
   margin-left: 4vw;
}

.icon-link:last-child,
.icon-wrap.no-link:last-child {
   margin-right: 4vw;
}

.link {
   text-decoration: none;
   font-family: 'Mochiy Pop P One', sans-serif;
   font-weight: 400;
   letter-spacing: 0.2vw;
   padding: 50vw;
   position: absolute;
   left: 50%;
   top: 50%;
   -webkit-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);
   -webkit-transition: 0.2s linear;
   -o-transition: 0.2s linear;
   transition: 0.2s linear;
   text-align: center;
   white-space: nowrap;
   z-index: 40;
}

/* body *//* body *//* body *//* body *//* body *//* body *//* body *//* body */

/* footer *//* footer *//* footer *//* footer *//* footer *//* footer */
.footer {
   width: 100%;
   background-color: #192a56;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}

.footer-item {
   height: 100%;
}

/* main */

/* text */
.footer-item.text-wrap {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: start;
       -ms-flex-pack: start;
           justify-content: start;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
}

.footer-text {
   font-family: 'Montserrat', sans-serif;
   color: white;
}

.footer-text a {
   color: #00a8ff;
}

/* text */

/* clock */
.footer-item.clock {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: end;
       -ms-flex-pack: end;
           justify-content: end;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   height: 100%;
}

.footer-item.clock p {
   color: white;
   font-family: 'Teko', sans-serif;
}