/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@media screen and (orientation:portrait) and (min-width: 1100px) {
   html {
      font-size: 20px;
   }
   
   .header-item-wrap {
      margin-bottom: 2vh;
   }

   .hide-on-mb {
      display: none !important;
   }

   @-webkit-keyframes MoveTop {
      0%, 40%, 100% {
         -webkit-transform: translateY(0);
                 transform: translateY(0)
      }
      20% {
         -webkit-transform: translateY(-2vw);
                 transform: translateY(-2vw);
      }
   }

   @keyframes MoveTop {
      0%, 40%, 100% {
         -webkit-transform: translateY(0);
                 transform: translateY(0)
      }
      20% {
         -webkit-transform: translateY(-2vw);
                 transform: translateY(-2vw);
      }
   }

   /* main */

   /* toggle */

   .toggle {
      height: 10vw;
   }

   .toggle i {
      font-size: 4vw;
   }

   /* toggle */

   /* self */
   .name {
      font-size: 6.5vw;
   }

   .avt {
      margin: 2vw auto;
      width: 30vw;
      height: 30vw;
   }

   .description {
      font-size: 3.8vw;
   }

   /* self */

   /* face */
   .eye {
      width: 8vw;
      height: 8vw;
      margin: 0 1.5vw;
   }

   /* header *//* header *//* header *//* header *//* header *//* header *//* header */
   
   /* body *//* body *//* body *//* body *//* body *//* body *//* body *//* body */
   .body {
      margin-top: 3vh;
   }

   .link-wrap {
      height: 8vh;
      border-radius: 0.5vw;
   }

   .link-wrap + .link-wrap {
      margin-top: 3vh;
   }

   .icon-link,
   .icon-wrap.no-link  {
      width: 5vh;
      height: 5vh;
   }

   .icon {
      font-size: 2.5vh;
   }

   .link {
      font-size: 2.8vh;
   }

   /* body *//* body *//* body *//* body *//* body *//* body *//* body *//* body */

   /* footer *//* footer *//* footer *//* footer *//* footer *//* footer */
   .footer {
      margin-top: 5vh;
      height: 15vh;
   }

   .footer-item {
      width: 100%;
   }

   /* main */

   /* text */
   .footer-item.text-wrap {
      padding: 2vh;
   }

   .footer-text {
      margin: 1vh 0;
      font-size: 2vh;
   }
}